<div class="element js-element" data-id="<%= element.id %>" >
  <% if element.persisted? %>
    <% if element.paragraph? %>
      <%= simple_form_for [@post, element] do |form| %>
        <div class="paragraph-content">
          <div class="element__link">
            <% if element.content.present? %>
              <%= element.content %>
            <% else %>
              Click to add content
            <% end %>
          </div>
        </div>
        <div class="js-d-none form-content">
          <div class="trix">
            <%= form.rich_text_area :content %>
          </div>
          <div class="actions">
            <%= form.submit 'Save', class: 'btn' %>
            <a href="#" class="cancel btn">Cancel</a>
            <%= link_to 'Delete', post_element_path(@post, element), class: 'btn',
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    <% elsif element.image? %>
      <% if element.image.present? %>
        <div class="element__image">
          <%= image_tag element.image %>
        </div>
        <%= link_to 'Delete', post_element_path(@post, element), class: 'btn',
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <% else %>
        <%= simple_form_for [@post, element] do |form| %>
          <%= form.file_field :image %>
          <div class="actions">
            <%= form.submit 'Save', class: 'btn' %>
            <a href="#" class="btn">Cancel</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>