<%= simple_form_for post do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
  <div class='form_elem'>
    <%= form.input :title %>
  </div>

  <div class='form_elem'>
    <%= form.input :description %>
  </div>

  <div class='form_elem'>
    <%= form.input :published %>
  </div>

  <div>
    <%= form.input :published_at %>
  </div>

  <div>
    <%= form.button :submit, class: 'button' %>
  </div>
</div>
<% end %>
